case4/src/main/mule/case4.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="e57619fa-79db-4970-a821-4a6e9949dc7e" >
		<wsc:connection wsdlLocation="http://fhnw.i.schaaf.es:60090/service/cc?WSDL" service="CallCenterPortImplService" port="CallCenterPortImplPort" address="http://fhnw.i.schaaf.es:60090/service/cc" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<jms:config name="JMS_Config" doc:name="JMS Config" doc:id="3be0fff9-2808-4513-89f4-0cd568abe45e" >
		<jms:active-mq-connection username="group1" password="fCQvRnakhyOlfpt" >
			<jms:caching-strategy >
				<jms:default-caching cacheProducers="false" cacheConsumers="false" />
			</jms:caching-strategy>
			<jms:factory-configuration brokerUrl="tcp://fhnw.i.schaaf.es:61616" />
		</jms:active-mq-connection>
	</jms:config>
	<flow name="case4Flow" doc:id="2499ffaa-70c0-4132-aa56-cf91cbaaa0f8" >
		<scheduler doc:name="Scheduler" doc:id="43f0bfcb-ba5f-4d8b-8ff9-2700df651c92" >
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</scheduler>
		<wsc:consume doc:name="Consume" doc:id="4a4b2875-cabf-48be-9f19-260439915109" config-ref="Web_Service_Consumer_Config" operation="getNewJobs">
			<wsc:message >
				<wsc:body ><![CDATA[#[null]]]></wsc:body>
			</wsc:message>
		</wsc:consume>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="cb5b40d2-1a26-40af-adda-cba122fc4702" />
		<foreach doc:name="For Each" doc:id="a4151b2d-ce45-4f9c-8a8a-7ab25b40f585" >
			<logger level="INFO" doc:name="Logger" doc:id="d922629b-d9f5-4763-99f0-606ca5ab05be" message="#[payload]"/>
			<choice doc:name="Choice" doc:id="0b4b2bc8-108f-43a3-8950-566e2ea5cfdf" >
				<when expression="#[payload == 'Repair']">
					<logger level="INFO" doc:name="Logger" doc:id="5cd3a4b3-93a6-4ddf-bdd7-5f3069c176b1" />
					<jms:publish doc:name="Publish" doc:id="ecf72327-66de-49e3-9231-ccce369364db" config-ref="JMS_Config" destination="group01.jobs.new" />
				</when>
				<otherwise >
					<logger level="INFO" doc:name="Logger" doc:id="a6e3264f-04ae-4c8d-89fb-71cacbea7a33" />
					<jms:publish doc:name="Publish" doc:id="5bdaca64-9a0f-4ffc-b79e-226cb89e6dfb" config-ref="JMS_Config" destination="group01.jobs.new" />
				</otherwise>
			</choice>
		</foreach>
	</flow>
</mule>
